@charset "UTF-8";

header{
    position: fixed;    /* Torna o header fixo na parte superior */
    top: 0;             /* Fixa no topo */
    left: 0;            /* Acomoda no lado esquerdo da tela */
    transform: none;    /* Remove a transformação */
    width: 100%;        /* Faz o header ocupar toda a largura da tela */
    margin: 0;          /* Remove as margens */
    padding: 10px;      /* Mantém o padding */
    border-radius: 0;   /* Remove o border-radius para que o header fique retangular */
}

