body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--blue-950);
    display: flex;
    justify-content: center;
   align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

div.img{
    position: relative;
    width: 85%;
    margin-top: 15px;
} 

div.img img{
    width: 100%;
    border-radius: 10px;
}

div.eye{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(178, 100%, 50%, 0.356);
    opacity: 0;
    transition: .3s;
    border-radius: 10px;
}

div.eye img{
    width: 20%;
    height: 20%;
}

main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--blue-900);
    width: 200px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
}

.text{
    margin-left: 15px;
    margin-top: 5px;
}

main .text .link{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}
 main .text p{
    color: var(--blue-500);
    font-size: 11px;
    font-weight: 300;
 }

 div.price-time{
    display: flex;
    justify-content: space-between;
    height: 7%;
    width: 85%;
}

div.price-time .price p{
    color: var(--cyan-400);
    font-size: 10px;
    display: inline-block;
    margin-left: 5px;
}

div.price{
    display: flex;
    align-items: center;
}

div .time{
    display: flex;
    align-items: center;
}

div.price-time .time p{
    color:var(--blue-500);
    font-size: 10px;
    margin-left: 5px;
}

.line{
    width: 85%;
    border: 0.5px solid hsla(215, 52%, 70%, 0.055);
    margin-top: 10px;
    margin-bottom: 10px;
}

div.author{
    display: flex;
    align-items: center;
    width: 85%;
    height: 6%;
}

div.author img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;  
}

div.author p{
    color: var(--blue-500);
    font-size: 9px;
    margin-left: 5px;
}

div.author a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}

div.eye:hover{
    opacity: 1;
}

a.link:hover{
    color: var(--cyan-400);
}

@media (max-width: 600px){
    main{
        width: 85%;
        height: 90%;
    }

    
}